{%- style -%}
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width isolate section-{{ section.id }}-padding">
    {% for collection in collections %}
      {{- collection.title | link_to: collection.url }}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection row menu",
  "tag": "section"
}
{% endschema %}

