<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width isolate section-{{ section.id }}-padding">
    {% for collection in collections %}
      <a href="{{collection.url }}" class="button">
        {{- collection.title }}
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collection row menu",
  "tag": "section",
  "settings": [],
  "presets": [
    {
    "name": "Collection row menu",
    "category": "Custom layout"
    }
  ]
}
{% endschema %}