.color-gothic-grey {
  background-color: var(--color-gothic-grey);
}

.button:hover,
.button:active {
  background-color: var(--color-base-accent-1);
  color: var(--color-base-solid-button-labels);
}

.background-transparent {
  background-color: rgba(var(--color-background), 0.82);
}

.background-transparent-2 {
  background-color: rgba(var(--color-background), 0.32);
}

.grid-background {
  background-color: rgb(var(--color-base-background-1));
  background-image: linear-gradient(
      var(--color-base-background-2) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, var(--color-base-background-2) 2px, transparent 2px),
    linear-gradient(
      rgba(var(--color-base-background-2), 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(var(--color-base-background-2), 0.3) 1px,
      transparent 1px
    );
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  background-image: linear-gradient(
      rgb(var(--color-base-background-2)) 2px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      rgb(var(--color-base-background-2)) 2px,
      transparent 2px
    ),
    linear-gradient(
      rgba(var(--color-base-background-2), 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(var(--color-base-background-2), 0.3) 1px,
      1px,
      transparent 1px
    );
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-attachment: fixed;
}
